.main-info {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    background: rgba(244, 240, 240, 0.91);
    border-radius: 10px;
}

.main-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-container * {
    box-sizing: border-box;
}

.slideshow-container {
    display: flex;
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow-x: hidden;
}

.mySlides {
    width: 70%;
    min-width: 70%;
    padding: 0 1%;
}

.mySlides:first-of-type {
    margin-left: -56%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 42px;
    margin-top: -25px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 15%;
}

.next {
    left: calc(83% - 42px);
    border-radius: 3px 0 0 3px;
    text-align: right;
}


.text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 10px 0;
    position: absolute;
    bottom: 5px;
    width: 68%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.8s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media (min-width: 650px) {
    .main-info img:hover {
        transform: scale(1.1);
    }

}

@media (max-width: 650px) {
    .main-info {
        padding: 20px 10px;
        display: block;
        font-size: 18px;
    }

    .main-info p {
        position: relative;
        margin: 15px 10px 20px 10px;
        padding: 0;
        text-align: justify;
    }

    .text {
        font-size: 18px;
        padding: 8px 0;
    }

    .prev,
    .next {
        padding: 10px;
        width: 30px;
    }

    .next {
        left: calc(83% - 30px);
    }
}